.container-acessibilidade {
    position: fixed;
    top: 37%;
    right: 0;
    transform: translateY(-50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    padding: 10px;
    z-index: 1000;
    transition: left 0.3s ease;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container-acessibilidade img {
    display: block;
    max-width: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

.container-acessibilidade img:last-child {
    margin-bottom: 0px;
}

@media (max-width: 685px) {
    .container-acessibilidade {
        right: -1000px;
    }
}

@media (max-height: 600px) {
    .container-acessibilidade {
        top: 30%;
    }
}